:root {
    --main-color-background: #101010;
    --main-color-dir-head: #e5b567;
    --main-color-file-info: #d6d6d6;
}

body {
    font-family: monospace;
    color: var(--main-color-file-info);
    background-color: var(--main-color-background)
}
h1 {
    text-align: left;
    color: var(--main-color-dir-head);
    border-bottom: 2px solid var(--main-color-dir-head);
    padding: 3px 3px 3px 10px;
    margin: 0;
}

#media-dirs {
	margin-top: 35px;
}

.media-dir-files {
    column-count: 6; /* Number of columns, adjust as needed */
    column-gap: 5px; /* Space between the columns */
}

.media-file {
    display: inline-block;
    margin-bottom: 5px; /* Space between items */
    width: 100%;
}

.media-file img,
.media-file video {
    width: 100%;
    height: auto;
    display: block;
}

.media-file-info {
    z-index: 10;
    position: absolute;
    margin: 0;
    padding: 2px;
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--main-color-file-info);
    display: none;
    transition: opacity 0.3s ease;
}

.media-file-popup {
    position: fixed;
    top: 30px;
    left: 0;
    pointer-events: none;
    margin: 10px;
    max-height: 95vh;
    max-width: 95vw;
}

#topbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	background-color: rgba(229, 181, 103, 0.2);
	color: #fff;
	z-index: 999;
	transition: top 0.3s ease-in-out;
}

.checkboxContainer {
	display: inline-block;
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	height: 0px;
	width: 0px;
}

/* Hide the browser's default checkbox */
.checkboxContainer input {
	top: 0px;
	left: 0px;
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* custom checkbox */
.checkmark {
	display: inline-block;
	margin: 5px;
	margin-bottom: 0;
	top: 0px;
	left: 0px;
	height: 13px;
	width: 13px;
	background-color: #202020;
	border: 2px var(--main-color-dir-head) solid;
	border-radius: 3px;
	transition: all .2s ease;
}
.checkboxContainer:hover input ~ .checkmark { background-color: #101010; }
.checkboxContainer input:checked ~ .checkmark { background-color: var(--main-color-dir-head); }
.checkboxContainer input:checked ~ .checkmark:after { display: block; }