:root {
    --main-color-background: #101010;
    --main-color-comments: #151515;
    --main-color-white: #d6d6d6;
    --main-color-yellow: #e5b567;
    --main-color-green: #b4d273;
    --main-color-orange: #e87d3e;
    --main-color-purple: #9e86c8;
    --main-color-pink: #b05279;
    --main-color-blue: #6c99bb;
    --main-color-high: #ff838e;
}

body {
    font-family: monospace;
    color: var(--main-color-white);
    background-color: var(--main-color-background)
}
h1 {
    text-align: left;
    color: var(--main-color-orange);
    border-bottom: 2px solid var(--main-color-blue);
    padding: 3px 3px 3px 10px;
    margin: 0;
}


.media-dir-files {
    column-count: 6; /* Number of columns, adjust as needed */
    column-gap: 5px; /* Space between the columns */
    margin: 20px;
}

.media-file {
    display: inline-block;
    margin-bottom: 5px; /* Space between items */
    width: 100%;
}

.media-file img,
.media-file video {
    width: 100%;
    height: auto;
    display: block;
}
